<div>
  <h1>Well hello hello hello!</h1>
</div>
<br>
<div class="heartbeat" ng-show="spinner">
    Loading...
</div>

<div>
  <h2>Merchants</h2>
  <br>

  <input ng-model="searchWord" placeholder="Search"/>

  <div ng-repeat=" merchant in merchantList | filter: searchWord | orderBy: 'name' ">
    <a ng-click="chooseMerchant(merchant)">{{merchant.name}}</a>
  </div>
</div>

<div>
  <h2>Your cards</h2>
  <br>

  <div ng-repeat="card in cardsList">
    <p>{{card.merchant_id.name}}</p>
    <p>{{card.cardType_id.name}}</p>
    <rating ng-model="card.earnedPoints" max="card.cardType_id.maxPoints" readonly="true" state-on="glyphicon-ok-sign" state-off="glyphicon-ok-circle"></rating><br>
    <button ng-click="requestPoint(card)">Request Point</button><br><br>
  </div>

</div>