<div>

<p>{{merchantInfo.name}}</p>
<br>

<p>{{merchantInfo.description}}</p>
<br>

<p>{{merchantInfo.email}}</p>
<br>

<p>{{merchantInfo.phone}}</p>
<br>

<p>{{merchantInfo.url}}</p>
<br>

<p>{{merchantInfo.address.street}}</p><br>
<p>{{merchantInfo.address.zipCode}} {{merchantInfo.address.city}}</p><br>
<br>

<div ng-repeat="cardType in cardTypesList">
	<p>{{cardType.name}}</p>
	<p>{{cardType.description}}</p>
	<p>Earned points: {{cardType.earnedPoints}}</p>
  <p>Max points: {{cardType.maxPoints}}</p>
  <button ng-click="requestPoint(cardType)">Request Point</button><br><br>
</div>

</div>