<div>

<p>{{merchantInfo.name}}</p>
<br><br>

<p>{{merchantInfo.description}}</p>
<br><br>

<p>{{merchantInfo.email}}</p>
<br><br>

<p>{{merchantInfo.phone}}</p>
<br><br>

<p>{{merchantInfo.url}}</p>
<br><br>

<p>{{merchantInfo.address.street}}</p><br>
<p>{{merchantInfo.address.zipCode}} {{merchantInfo.address.city}}</p><br>
<br><br>

<div ng-repeat="cardType in cardTypeList">
	<p>card {{cardType.$index}}:</p>
	<p>{{cardType.name}}</p>
	<p>{{cardType.description}}</p>
	<p>Point: {{cardType.maxPoints}}</p><br>
  <button ng-click="requestPoint(cardType)">Request Point</button><br><br>
</div>

</div>